.loginsignup{
    width: 100%;
    min-height: 90vh;
    background: var(--mainBgColor);
    padding-top: 10px;
}
.loginsignup-container{
    width: 90%;
    max-width: 550px;
    background: var(--mainBgColor);
    margin: auto;
    padding: 30px 40px;
    box-sizing: border-box;
}
.loginsignup-container h2{
    margin: 15px 0px 10px;
    color: var(--themeColorMain);
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
}
.loginsignup-fields input{
    height: 60px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
    box-sizing: border-box;
}
.loginsignup-container button{
    width: 80%;
    height: 40px;
    color: var(--textColorMain);
    background: var(--themeColorMain);
    margin-top: 30px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}
.btn-fixer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 500;
}
.loginsignup-login span{
    color: var(--themeColorMain);
    font-weight: 600;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 18px;
    gap: 10px;
    color: #5c5c5c;
    font-size: 15px;
    font-weight: 500;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
textarea {
  background: var(--mainBgColor);
  border: none;
  border-bottom: 1px solid var(--borderColor1);
  padding: 1rem;
  border-radius: 3px;
  width: 100%;
  color: var(--color-light);
  outline: none;
  font-size: 18px;
  text-shadow: none !important;
}

@media(max-width: 600px){
    .loginsignup-container h1{
        font-size: 22px;
        margin: 0px;
    }
    .loginsignup-container{
        padding: 30px 20px;
    }
    .loginsignup-fields input{
        padding-left: 10px;
        font-size: 16px;
        height: 50px;
    }
    .loginsignup-fields{
        gap: 15px;
    }
    .loginsignup-container button{
        height: 50px;
        margin-top: 20px;
        font-size: 17px;
    }
}